@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Dosis', sans-serif;
}

h1 {
    color: salmon;
}

.logo {
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
}

.home-info {
    display: flex;
    padding-left: 70px;
    position: relative;
    top: 40%;
    font-size: 35px;
    flex-direction: column;
    color: aliceblue;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .4), 
    rgba(148, 48, 48, .2), rgba(167, 67, 67, .4)),
    url(/travel/travelhome.jpg) center no-repeat;
    background-size: cover;
}

.navbar {
    width: 300px;
    height: 100%;
    background-color: #262626;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 60%;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
    overflow: hidden;
}

.change {
    right: 0;
}

.hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 100%;
    height: 3px;
    background-color: salmon;
    transition: all 0.8s;
}

.change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list {
    text-align: right;
}

.nav-item {
    list-style: none;
    margin: 25px;
}

.nav-link {
    text-decoration: none;
    font-size: 22px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: salmon;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}

/*What We Do*/
.section-2 {
    height: 50vh;
    color: aliceblue;
    background-color: black;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*Destination*/
.section-3 {
    height: 120vh;
    background-color: rgb(53, 45, 45);
    padding: 5rem 1rem;
}

.section-heading {
    font-size: 8rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2.8rem;
}

.gallery-link {
    position: relative;
    margin: 4rem 1rem;
}

.gallery-link::before {
    content: "";
    position: absolute;
    top: 2vw;
    left: 80%;
    width: 0.2rem;
    height: 0;
    background-color: #fff;
    z-index: 10;
    transition: height .5s;
}

.gallery-link:hover::before {
    height: 80%;
}


.gallery-link::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 2rem;
    width: 0;
    height: 0.2rem;
    background-color: #fff;
    transition: width .5s;
}

.gallery-link:hover::after {
    width: 90%;
}

.area-img {
    width: 24vh;
    height: 15vw;
    object-fit: cover;
    box-shadow: 0.3rem 0.3rem 0.1rem #e92929,
     0.5rem 0.5rem 0.1rem #a2e946,
    .7rem .7rem .1rem #297ce9,
     .9rem .9rem .1rem #e92999;
    transition: all 0.5s;
}

.gallery-link:hover .area-img {
    box-shadow: 1rem 1rem 0.1rem #e92929, 
    2rem 2rem 0.1rem #a2e946,
    3rem 3rem .1rem #297ce9,
     4rem 4rem .1rem #e92999;
     filter: blur(0.5rem);
     opacity: 0.5;
     transform: scale(1.1);
}

.area-name {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #fff;
    width: 0;
    overflow: hidden;
    transition: width 0.3s;
}

.gallery-link:hover .area-name {
    width: 100%;
    transition: width 1.5s .5s;
}

.area-info {
    position: absolute;
    bottom: 0.9vw;
    left: 2rem;
    width: 70%;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.gallery-link:hover .area-info {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s 1s;
}

/*Plans*/
.Plans {
    padding: 5rem 0 10rem 0;
    background: linear-gradient(rgba(0, 0, 0, .4), 
    rgba(148, 48, 48, .2), rgba(167, 67, 67, .4)),
    url(planback.jpg) center no-repeat;
    background-size: cover;
}

.plan-heading {
    font-size: 8rem;
    text-align: center;
    margin-bottom: 8rem;
    color: slateblue;
    text-shadow: 0 0.01rem 0.2rem var
    (--primary-color);
}

.cards-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 35rem;
    position: relative;
    perspective: 150rem;
}

.card-image {
    width: 100%;
    border-radius: .3rem .3rem 0 0;
}

.front-side {
    text-align: center;
    background-color: aliceblue;
    border-radius: .3rem;
    position: relative;
    z-index: 10;
    opacity: 0.9;
    transition: opacity 0.4s, transform
    0.4s, box-shadow 0.4s;
}

.change > .front-side {
    transform: translateZ(-5rem) translateX(3rem);
    box-shadow: 0 2rem 4rem #777;
    opacity: .5;
    z-index: 0;
}

.plan-name {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    right: 1.5rem;
    color: aliceblue;
    text-shadow: 0 0 1rem #000;
}

.card-list {
    width: 80%;
    margin: auto;
    padding: 2rem 0 3rem 0;
}

.card-list-item {
    font-size: 1.6rem;
    font-weight: 500;
    color: slateblue;
    margin: 2rem 0;
    border-bottom: .1rem solid slateblue;
    padding-bottom: 1.5rem;
}

.back-side {
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    top: 0;
    background-color: slateblue;
    width: 100%;
    height: 100%;
    border-radius: .3rem;
    box-shadow: 0 2rem 4rem #777;
    flex-direction: column;
    transform: translateZ(-5rem) translateX(3rem);
    opacity: 0.5;
    transition: opacity 0.4s, transform
    0.4s, box-shadow 0.4s;
}

.change > .back-side {
    transform: translateZ(0) translateX(0);
    box-shadow: 0 .5rem 2rem #aaa;
    opacity: .9;
    z-index: 0;
}

.book-plan {
    font-size: 5rem;
    font-weight: 300;
    color: aliceblue;
    margin-bottom: 3rem;
}

.card-button {
    color: slateblue;
    background-color: aliceblue;
    border: none;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    letter-spacing: .2rem;
    border-radius: 5rem;
    cursor: pointer;
}

.navigation-button {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    padding: .5rem;
    background-color: rgba(255, 255, 255,0.8);
    color: salmon;
    border-radius: 0.3rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer;
}
/*Testimonials*/
.stories {
    padding: 10rem 0;
    position: relative;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
}

.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stories-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story-bg {
    background-color: rgba(238, 238, 238, .85);
    padding: 5rem;
    margin: 5rem;
    width: 70%;
    box-shadow: 0 2rem 5rem rgba(51, 51, 51, .4);
    transform: skewX(20deg);
}

.story {
    transform: skewX(-20deg);
    display: flex;
}

.story-img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5rem;
}

.story-text {
    letter-spacing: .1rem;
    padding-left: 2.8rem;
}

.story-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: grey;
    margin-bottom: 1rem;
}

.story-paragraph {
    font-size: 1.8rem;
    color: burlywood;
}

.story-paragraph::first-letter {
    margin-left: 1rem;
}

/*Contact*/
.contact {
    padding: 15rem 0 20rem 0;
    text-align: center;
   background: linear-gradient(rgba(0, 0, 0, .4), 
    rgba(148, 48, 48, .2), rgba(167, 67, 67, .4)),
    url(messagepic.jpg) center no-repeat;
    background-size: cover;
}

.contact-heading {
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: bisque;
    text-shadow: 0 1rem 2rem #000;
    margin-bottom: 8rem;
}

.contact-form {
    width: 70rem;
    height: 40rem;
    background-color: black;
    margin: auto;
    flex-direction: column;
    border-radius: .5rem;
    box-shadow: 0 1rem 3rem #000;
    padding: 5rem;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-groups {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-groups .input-group {
    width: 48.5%;
}

.input-group input,
.input-group textarea {
    padding: 3rem 1rem 1rem 1rem;
    background-color: aliceblue;
    border: 0.1rem solid salmon;
    font-size: 1.4rem;
    color: black;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    transition: border 0.3s;
}

.input-group input:focus,
.input-group textarea:focus {
    border: .1rem solid #ccc;
}

.input-group label {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: black;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.form-btn {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    margin-top: 1rem;
    background-color: salmon;
    color: aliceblue;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s;
}

.form-btn:hover {
background-color: slateblue;
}

.input-group textarea {
    max-height: 15rem;
    max-width: 100%;
}

@keyframes contact-bg {
    0% {
        background-color: #3d3d3d;
    }
    25% {
        background-color: #ced8e4;
    }
    50% {
        background-color: 1e81f3;
    }
    75% {
        background-color: #ff7482;
    }
    100% {
        background-color: #3d3d3d;
    }
}

/*responsive*/
@media (max-width: 1200px) {
    .cards-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin: 3rem 0
    }

    .story-bg {
        width: 85%;
    }
}

@media (max-width: 1000px) {
    .plan-heading {
        font-size: 6rem;
    }

    .story-bg {
        transform: skewX(0);
    }
    .story {
        transform: column;
        align-items: center;
        flex-direction: column;
    }
    .story-image {
        margin-bottom: 3rem;
    }
}

@media (max-width: 800px) {
    .plan-heading {
        font-size: 5rem;
    }

    .contact-form {
        width:90%
    }
}

@media (max-width: 650px) {
    .container {
        margin: 0;
    }

    .contact-heading {
        font-size: 6rem;
    }
    .contact-form {
        padding: 2rem;
        height: 40rem;
    }
}

@media (max-width: 580px) {
    html {
        font-size: 45%;
    }

}

@media(max-width: 560px){


    .section-heading {
        font-size: 5rem;
    }
}

@media(max-width: 390px) {
    .home-info {
        font-size: 25px;
        
    }

    .section-2 {
        font-size: 20px;
      
    }

    .section-3 {
        height: 100vh;
    }
}